//Font
@import url('https://fonts.googleapis.com/css?family=Revalia&display=swap');

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange_main: #FB8122;
$white: #FFFFFF;
$dark_gray: #1D2228;

// Width and height
$content_width: 87.5%;
$full: 100%;
$border_width: 2px;
$margin: 15px;
$border_radius: 10px;
$button_height: 40px;
