@import url('https://fonts.googleapis.com/css?family=Revalia&display=swap');
@import '_variables';
@import '_mixins';

body{text-decoration: none;
width:100%;
margin: 0;
@include set_font();
font-size: 100%;}

.wrap{width:100%;}

.content{
    width:87.5%;
    margin:auto;
    .tab-content{
        text-align: justify;
    }
}




