@import '_variables';
@import '_mixins';

.header-content{
    @include set_grid(100px, 1fr, 12);
    .logo{
        @include columns(1,3);
    }
    .title{
        @include columns(3,6);
    }
    a{
        @include columns(11,13);
    }
}

.search_radio_buttons{
    display: grid;
    grid-template-columns: 4fr repeat(4, 2fr);
    grid-column-gap: 1em;
    grid-auto-rows: minmax(55px, auto);
}

.detail_controls{
    @include set_grid(55px, 1fr, 6)
}

.footer-content{
    @include set_grid(100px, 1fr, 12);
    h3{@include columns(1,7)}
}

.vl-calendar {
    .calendar_wrap {
        width: $content_width;
        @include set_grid(100px, 1fr, 2);
    }
}

.one_flight{
    @include set_grid(50px, 1fr, 6);
}




