header{
    //background-color: $orange_main;
    background-color: $orange_main;
    width: $full;
    font-size: 100%;
    p {
        color: $white;
        margin: auto;
        text-align: center;
        font-size: 2em;
    }
    .logo{
        img{
            width: $full;
            height: $full;
            margin: auto;
        }
    }
    a{
        color: $white;
        text-decoration: none;
        text-align: center;
        margin: auto;
        font-size: 2em;
        transition: color 1s;
    }
    a:hover{
        color: $dark_gray;
    }
}



