@import url("https://fonts.googleapis.com/css?family=Revalia&display=swap");
.header-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }
  .header-content .logo {
    grid-column-start: 1;
    grid-column-end: 3; }
  .header-content .title {
    grid-column-start: 3;
    grid-column-end: 6; }
  .header-content a {
    grid-column-start: 11;
    grid-column-end: 13; }

.search_radio_buttons {
  display: grid;
  grid-template-columns: 4fr repeat(4, 2fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(55px, auto); }

.detail_controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(55px, auto); }

.footer-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }
  .footer-content h3 {
    grid-column-start: 1;
    grid-column-end: 7; }

.vl-calendar .calendar_wrap {
  width: 87.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }

body {
  text-decoration: none;
  width: 100%;
  margin: 0;
  font-family: 'Revalia', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 100%; }

.wrap {
  width: 100%; }

.content {
  width: 87.5%;
  margin: auto; }
  .content .tab-content {
    text-align: justify; }

header {
  background-color: #FB8122;
  width: 100%;
  font-size: 100%; }
  header p {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    font-size: 2em; }
  header .logo img {
    width: 100%;
    height: 100%;
    margin: auto; }
  header a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-size: 2em;
    transition: color 1s; }
  header a:hover {
    color: #1D2228; }

.search_radio_buttons {
  width: 100%;
  margin-top: 15px;
  align-items: center; }
  .search_radio_buttons .trip_type_selector {
    display: block;
    position: relative;
    color: #FB8122;
    font-size: 1em;
    padding-left: 35px;
    margin-bottom: 12px;
    user-select: none;
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* When the radio button is checked, add a blue background */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */ }
    .search_radio_buttons .trip_type_selector input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .search_radio_buttons .trip_type_selector .radio_circle {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border: #1D2228 2px solid;
      border-radius: 50%; }
    .search_radio_buttons .trip_type_selector .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border: #1D2228 2px solid; }
    .search_radio_buttons .trip_type_selector input:checked ~ .checkmark {
      background-color: #FB8122; }
    .search_radio_buttons .trip_type_selector .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .search_radio_buttons .trip_type_selector input:checked ~ .checkmark:after {
      display: block; }
    .search_radio_buttons .trip_type_selector input:checked ~ .radio_circle {
      background-color: #FB8122; }
    .search_radio_buttons .trip_type_selector .radio_circle:after {
      content: "";
      position: absolute;
      display: none; }
    .search_radio_buttons .trip_type_selector input:checked ~ .radio_circle:after {
      display: block; }
    .search_radio_buttons .trip_type_selector .container .radio_circle:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white; }
    .search_radio_buttons .trip_type_selector .trip_type_selector:hover input ~ .checkmark {
      background-color: #ccc; }
    .search_radio_buttons .trip_type_selector .trip_type_selector:hover input ~ .radio_circle {
      background-color: #ccc; }
  .search_radio_buttons h2 {
    margin: 0;
    font-size: 2em;
    color: #FB8122; }

.detail_controls {
  margin-top: 15px; }
  .detail_controls label {
    color: #FB8122; }
    .detail_controls label input {
      padding: 10px 0 10px 5px;
      border: #FB8122 solid 2px;
      border-radius: 10px;
      font-family: 'Revalia', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75em; }
  .detail_controls .trip_details {
    position: relative; }
    .detail_controls .trip_details .search_btn {
      position: absolute;
      cursor: pointer;
      bottom: 0;
      border: none;
      background: #1D2228;
      color: #FFFFFF;
      height: 40px;
      width: 100%;
      font-family: 'Revalia', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 1em;
      border-radius: 10px; }

.vl-flex {
  display: flex; }

.vl-flex-wrap {
  flex-wrap: wrap; }

.vl-flex-column {
  flex-direction: column; }

.vl-calendar {
  margin: auto;
  margin-top: 10px;
  width: 87.5%;
  position: relative;
  background: #FFF;
  text-align: center;
  color: #1D2228;
  font-size: 1em;
  user-select: none; }
  .vl-calendar .calendar_wrap {
    width: 100%; }
  .vl-calendar__month {
    display: inline-block;
    margin-bottom: 15px;
    max-width: 80vw; }
  .vl-calendar__arrow {
    position: absolute;
    top: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
    cursor: pointer;
    width: 40px;
    height: 40px; }
    .vl-calendar__arrow--back {
      left: 15px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA0lBMVEUZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjSTOY05AAAARnRSTlMAAQIDBAUGBwgJCgsMDQ8QERITFBUXGBkaGx0eHyAiIyQnKCkqKywtLi8wMTIzNDU2Nzg5Ojs8Pj9AQUJDREZHSElKS0xNUWPYUAAAAU1JREFUeNptk+lygjAURq8gFm2h1q3uWsVqtZUWXAGtIN/7v1KHSGxYzp9kcnKXJBMSUfRGXZMpl+rcRUS4f6tk5RYINovpdLkPEa7KCVmYhLBbUlyi78DvCrZowmuIuwc+DOJINmyFEjx5mPL5HJZEKVQPHWI04BQpgxZcHlihI6qUwwiLaGjh697iTP/X0ukahZv3YHmLcSJ8SCQFJ243WIstlmET6VjGySxuOa5P1MboZn/Slkyo1EePWRM4eRyL6SU0pm+Fcbmz5TpKztv+oGxyna8qu7R3g+hgHsV+n/QqNkT0jWfuDxgKesgu6RWfFFNa1YRHd0P1NuiUwyC+ryYOctY++r5K8fnMQtqWHPT4W+xgpuLLR8yJo1g4VkXb+YUhJCy8I1zzrqX2Dtdu9huc15Px2LB89g3S1FdnMJyZRrlUaq3mS4kE/gAULzTK6Ml9VwAAAABJRU5ErkJggg=="); }
    .vl-calendar__arrow--forward {
      right: 15px;
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAz1BMVEUZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjQZJjTQKaQcAAAARXRSTlMAAQIDBAUGBwgJCgsMDg8QERITFBUWGBkaGx0eHyAhIiMkJSYnKCkqLC0uLzAxMjQ1Nzg5Ojs/QEFCQ0RFRkdISUpLTE22Gs8EAAABVUlEQVR4AW3T4XaaMBwF8IvKRp2dU5F266qwMWXT1bWjqbMUanLf/5nWcIzByO9L/udcJRcIaHo3DMeDDlqF64KafIzfwzUVZPWQLZZ3gpSZj6beb6rNxEMtiAu+TGEFgmIIq5sqNYPhC256ODEqeWvme/6C63KvRqh9Ze7hTMRdt65V7vto8ZPf9DLnAtbtzfEZvZYdAEIFsJ44t3+PgIA5GgYvx8pjroArfoeTH67fkQJIeAU3/3LYSAILTvQ43O6MiuoztJzdt3isx09FZezJ2TFOeI0TFztTXkhbrZEmptoTcMEHJzU/H3Gl+6nm4RD8Ycas3jZmCitNzORXZadeXgO0WB52mfEe50L13IPm/eUSrg+VCs2r+8e1c7o/Fozt3Wz5OIDlzSUTWP4fytWlOdU3W1bX55/B812aJFkuqdYBHF60qagpkfbRxutPounQR8N/jIU0mXzMHWoAAAAASUVORK5CYII="); }

.vl-calendar-month .vl-calendar-month__title {
  background-color: #FB8122;
  border-radius: 10px;
  color: #FFFFFF;
  padding: 10px 0 10px 0; }
.vl-calendar-month__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600; }
.vl-calendar-month__week-numbers-column {
  padding-top: 24px; }
.vl-calendar-month__week-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
  height: 24px;
  color: #A0A0A0;
  font-size: 10px; }
.vl-calendar-month__week-day {
  display: inline-block;
  margin-bottom: 10px;
  width: 14%;
  text-align: center;
  color: #FB8122;
  font-size: 12px; }
.vl-calendar-month__day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  cursor: pointer;
  width: 14%;
  height: 24px; }
  .vl-calendar-month__day--offset-1 {
    margin-left: calc(1 * 14%); }
  .vl-calendar-month__day--offset-2 {
    margin-left: calc(2 * 14%); }
  .vl-calendar-month__day--offset-3 {
    margin-left: calc(3 * 14%); }
  .vl-calendar-month__day--offset-4 {
    margin-left: calc(4 * 14%); }
  .vl-calendar-month__day--offset-5 {
    margin-left: calc(5 * 14%); }
  .vl-calendar-month__day--offset-6 {
    margin-left: calc(6 * 14%); }
  .vl-calendar-month__day.disabled {
    color: #B5B5B5;
    pointer-events: none; }
    .vl-calendar-month__day.disabled--first {
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px; }
    .vl-calendar-month__day.disabled--last {
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px; }
  .vl-calendar-month__day.selected {
    background: #FB8122;
    color: #FFF;
    font-weight: 800; }
    .vl-calendar-month__day.selected.disabled {
      border: 1px solid #1D2228;
      background: #cd5c04;
      color: #1D2228; }
    .vl-calendar-month__day.selected--first {
      border-top-left-radius: 14px;
      border-bottom-left-radius: 14px; }
    .vl-calendar-month__day.selected--last {
      border-top-right-radius: 14px;
      border-bottom-right-radius: 14px; }
  .vl-calendar-month__day:hover:not(.selected) {
    border-radius: 14px;
    background: #FB8122;
    color: #FFF;
    font-weight: 800; }

.disabled-tabs {
  position: relative;
  margin: 0 auto; }
  .disabled-tabs__item {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
    padding-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: gray;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: all 0.25s; }
    .disabled-tabs__item:hover {
      border-bottom: 2px solid gray;
      color: #1D2228; }
    .disabled-tabs__item:focus {
      outline: none;
      border-bottom: 2px solid gray;
      color: #FB8122; }
    .disabled-tabs__item_active {
      color: #FB8122; }
    .disabled-tabs__item:disabled {
      border-bottom: 2px solid transparent;
      color: gray;
      cursor: default; }
    .disabled-tabs__item .tabs__item:first-child {
      margin-left: 0; }
    .disabled-tabs__item .tabs__item:last-child {
      margin-right: 0; }
  .disabled-tabs__active-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: #FB8122;
    transition: transform 0.4s ease, width 0.4s ease; }

footer {
  background-color: #1D2228;
  width: 100%;
  margin-top: 20px; }
  footer h3 {
    color: #FFFFFF;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
