@import url("https://fonts.googleapis.com/css?family=Revalia&display=swap");
.header-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }
  .header-content .logo {
    grid-column-start: 1;
    grid-column-end: 3; }
  .header-content .title {
    grid-column-start: 3;
    grid-column-end: 6; }
  .header-content a {
    grid-column-start: 11;
    grid-column-end: 13; }

.search_radio_buttons {
  display: grid;
  grid-template-columns: 4fr repeat(4, 2fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(55px, auto); }

.detail_controls {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(55px, auto); }

.footer-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(100px, auto); }
  .footer-content h3 {
    grid-column-start: 1;
    grid-column-end: 7; }

body {
  text-decoration: none;
  width: 100%;
  margin: 0;
  font-family: 'Revalia', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 100%; }

.wrap {
  width: 100%; }

.content {
  width: 87.5%;
  margin: auto; }

header {
  background-color: #FB8122;
  width: 100%;
  font-size: 100%; }
  header p {
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    font-size: 2em; }
  header .logo img {
    width: 100%;
    height: 100%;
    margin: auto; }
  header a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    margin: auto;
    font-size: 2em;
    transition: color 1s; }
  header a:hover {
    color: #1D2228; }

.search_radio_buttons {
  width: 100%;
  margin-top: 15px;
  align-items: center; }
  .search_radio_buttons .trip_type_selector {
    display: block;
    position: relative;
    color: #FB8122;
    font-size: 1em;
    padding-left: 35px;
    margin-bottom: 12px;
    user-select: none;
    /* When the checkbox is checked, add a blue background */
    /* Create the checkmark/indicator (hidden when not checked) */
    /* Show the checkmark when checked */
    /* When the radio button is checked, add a blue background */
    /* Create the indicator (the dot/circle - hidden when not checked) */
    /* Show the indicator (dot/circle) when checked */
    /* Style the indicator (dot/circle) */ }
    .search_radio_buttons .trip_type_selector input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .search_radio_buttons .trip_type_selector .radio_circle {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border: #1D2228 2px solid;
      border-radius: 50%; }
    .search_radio_buttons .trip_type_selector .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border: #1D2228 2px solid; }
    .search_radio_buttons .trip_type_selector input:checked ~ .checkmark {
      background-color: #FB8122; }
    .search_radio_buttons .trip_type_selector .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
    .search_radio_buttons .trip_type_selector input:checked ~ .checkmark:after {
      display: block; }
    .search_radio_buttons .trip_type_selector input:checked ~ .radio_circle {
      background-color: #FB8122; }
    .search_radio_buttons .trip_type_selector .radio_circle:after {
      content: "";
      position: absolute;
      display: none; }
    .search_radio_buttons .trip_type_selector input:checked ~ .radio_circle:after {
      display: block; }
    .search_radio_buttons .trip_type_selector .container .radio_circle:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white; }
    .search_radio_buttons .trip_type_selector .trip_type_selector:hover input ~ .checkmark {
      background-color: #ccc; }
    .search_radio_buttons .trip_type_selector .trip_type_selector:hover input ~ .radio_circle {
      background-color: #ccc; }
  .search_radio_buttons h2 {
    margin: 0;
    font-size: 1.5em;
    color: #FB8122; }

.detail_controls {
  margin-top: 15px; }
  .detail_controls label {
    color: #FB8122; }
    .detail_controls label input {
      padding: 10px 0 10px 5px;
      border: #FB8122 solid 2px;
      border-radius: 10px;
      font-family: 'Revalia', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75em; }
  .detail_controls .trip_details {
    position: relative; }
    .detail_controls .trip_details .search_btn {
      position: absolute;
      bottom: 0;
      border: none;
      background: #FB8122;
      color: #FFFFFF;
      height: 40px;
      width: 100%;
      font-family: 'Revalia', cursive;
      font-style: normal;
      font-weight: normal;
      font-size: 0.75em;
      border-radius: 10px; }

.single_day_box {
  width: 11%;
  height: 50px;
  border: 5px solid #FB8122;
  border-radius: 15px;
  margin-bottom: 10px; }

.month_header {
  margin-bottom: 10px;
  background-color: #FB8122;
  border-radius: 15px; }
  .month_header h3 {
    color: #FFFFFF;
    text-align: center; }
  .month_header .weekdays {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    color: #FFFFFF; }

.calendar .week_row {
  width: 100%;
  display: inline-flex;
  position: relative;
  justify-content: space-between; }

footer {
  background-color: #1D2228;
  width: 100%; }
  footer h3 {
    color: #FFFFFF;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
